*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-color: #F6F8F9;
}

header{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}

header img{
    display: inline;
    vertical-align: top;
}

header h1{
    display: inline;
}

main{
    background-color: white;
    margin: 30px 100px 30px 100px;
    border-radius: 10px;
    padding-left: 30px;
}

main .buttonDiv{
    padding: 30px;
    border-bottom: 5px solid #F6F8F9;
}

main .taskButton{
    background-color: #47A9E8;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: #47A9E8;
}

main .sectionButton{
    background-color: transparent;
    color: #CED3D7;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-color: #CED3D7;
}

main .listDiv{
    padding: 30px 30px 30px 30px;
}

ul .check{
    color: green;
    border: 1px green solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}

ul .cross{
    color: red;
    border: 1px red solid;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
}

li .editorial{
    background-color: #47A9E8;
    color: white;
    border: 1px #47A9E8 solid;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}

li .q1goal{
    background-color: #9C72E3;
    color: white;
    border: 1px #9C72E3 solid;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}

li .recruiting{
    background-color: #63BEA9;
    color: white;
    border: 1px #63BEA9 solid;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}

li .mobile{
    background-color: #F39C34;
    color: white;
    border: 1px #F39C34 solid;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}

li .website{
    background-color: #D563A0;
    color: white;
    border: 1px #D563A0 solid;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}

li .sales{
    background-color: #B1C729;
    color: white;
    border: 1px #B1C729 solid;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
}

.listDiv ul{
    list-style-type: none;
    padding-bottom: 30px;
}

.listDiv li{
    padding-top: 10px;
    margin-top: 10px;
}
